@model Customer
@{
    ViewData["Title"] = "GetCustomerByTC";
    Layout = "~/Areas/Case/Views/Shared/_CaseLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="form-group">
            <label>Müşteri TC</label>
            <input asp-for="TC" asp-route-id="ID" type="text" class="form-control" placeholder="Müşteri TC No girin">
        </div>
    </div>
   
    //
</div>

